body {
  width: 60%;
  margin: 0px auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
}

.nav-list {
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  color: #fff;
  margin-top: 30px;
}

.nav-list li a {
  text-decoration: none;
}

/* unvisited link */
.nav-list a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
.nav-list a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
.nav-list a:hover {
  color: #70d4d4;
}

.nav-list a:active {
  color: #70d4d4;
}

header {
  margin-bottom: 150px;
}

h1 {
  margin-top: 0px;
  font-size: 5.625rem;
  line-height: 2;
  color: #70d4d4;
}

h3 {
  width: 50%;
  margin: 0px auto;
  color: #70d4d4;
}

.underline {
  text-decoration: underline;
}

hr {
  background-color: #66bfbf;
  height: 2px;
  border: 0px;
  width: 20%;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-img {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 40%;
}

.portfolio-img:hover {
  width: 100%;
  height: 100%;
}

/* .portfolio-img {
  width: 100%;
  height: 100%;
} */

#portfolio {
  margin-bottom: 200px;
}

.skills-container {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
}

.skills-container img {
  width: 35%;
}

.skill1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.skill1-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.skill2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.skill2-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.skill3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.skill3-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.skill {
  margin-top: 30px;
  margin-bottom: 30px;
}

.skill img {
  margin: 0px 20px;
}

#skills {
  margin-bottom: 200px;
}

#contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact img {
  width: 15%;
}

footer {
  height: 100px;
  background-color: #3cb0fd;
}

.links {
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.links li a {
  color: white;
  list-style-type: none;
}

/* unvisited link */
.links li a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* visited link */
.links li a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* mouse over link */
.links li a:hover {
  color: #000000;
  text-decoration: none;
}

.links li a:active {
  text-decoration: none;
  color: #000000;
}

footer p {
  font-size: 12px;
  color: white;
  margin: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
}
.btn {
  display: block;
  margin: 0 auto;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #2980b9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #2980b9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #2980b9);
  background-image: -o-linear-gradient(top, #3cb0fd, #2980b9);
  background-image: linear-gradient(to bottom, #3cb0fd, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3cb0fd);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3cb0fd);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3cb0fd);
  background-image: -o-linear-gradient(top, #3cb0fd, #3cb0fd);
  background-image: linear-gradient(to bottom, #3cb0fd, #3cb0fd);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    margin: 0 auto;
  }

  .nav-list {
    justify-content: space-around;
  }

  header {
    margin-bottom: 150px;
  }

  h1 {
    font-size: 2.6em;
  }

  h3 {
    width: 90%;
    margin: 0px auto;
  }

  hr {
    margin-bottom: 50px;
  }

  .skills-container {
    width: 90%;
    margin: 0px auto;
  }

  .skills-container img {
    width: 35%;
  }

  #contact img {
    width: 40%;
  }
}
